/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121213;
    color: #fff;
}

.wordle-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Wordle Grid */
.grid {
    display: grid;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #1c1c1b;
    color: #fff;
    font-weight: bold;
}

/* Keyboard */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #818384;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.key:hover {
    background-color: #565758;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* End Game Menu Styles */
.end-game-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.menu-content {
    background-color: #222;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.menu-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.menu-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.menu-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #565758;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #818384;
}

/* Start Menu Styles */
.start-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.start-content {
    background-color: #222;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.start-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.start-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.dropdown {
    margin-bottom: 20px;
}

.dropdown-select {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #565758;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-select:hover {
    background-color: #818384;
}

.menu-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #565758;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #818384;
}

.hidden {
    display: none;
}


@media (min-width: 700px) {
    .wordle-container {
        margin-bottom: 100px;
    }

    .key {
        font-size: 1.5rem;
    }

    .tile {
        font-size: 2rem;
        width: 60px;
        height: 60px;
    }
}